<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>KU</title>
	<link rel="icon"  href="favicon.ico">
<body>

  <style media="screen">

    body{
background:#eee;
}
.chkbox {
  padding-left: 10px;
  font-weight: bold;
}
.ibox-content {
background-color: #FFFFFF;
color: inherit;
padding: 15px 20px 20px 20px;
border-color: #E7EAEC;
border-image: none;
border-style: solid solid none;
border-width: 1px 0px;
}

.search-form {
margin-top: 10px;
}

.search-result h3 {
margin-bottom: 0;
color: #1E0FBE;
}

.search-result .search-link {
color: #006621;
}

.search-result p {
font-size: 12px;
margin-top: 5px;
}

.hr-line-dashed {
border-top: 1px dashed #E7EAEC;
color: #ffffff;
background-color: #ffffff;
height: 1px;
margin: 20px 0;
}

h2 {
font-size: 24px;
font-weight: 100;
}




  </style>


    <div class="container bootstrap snippets bootdey">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <h2>
                        7 results found for: <span class="text-navy">"Ku Library"</span>
                    </h2>
                    <small>Request time  (1.32 seconds)</small>


                    <div class="search-form">
                        <form action="#" method="get">
                            <div class="input-group">
                                <input type="text" placeholder="Ku Library" name="search" class="form-control input-lg">

                                <div class="input-group-btn">
                                    <button class="btn btn-lg btn-primary" type="submit">
                                        Search
                                    </button>
                                    <button class="btn btn-lg btn-primary" type="submit"  style="position: absolute; right: 50;">
                                        Relevance Feedback Submit
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="hr-line-dashed"></div>
                    <div class="search-result">
                        <h3><a href="#">Welcome to KU Libraries | Libraries   <input type="checkbox" class="chkbox"></a></h3>
                        <a href="#" class="search-link">https://lib.ku.edu/</a>
                        <p>
                            KU Libraries are a proud supporter of the Open Textbook Library. In 2015, KU joined the Open Education Network, an alliance of higher education institutions
                        </p>
                    </div>

                    <div class="hr-line-dashed"></div>
                    <div class="search-result">
                        <h3><a href="#">The Library That Became A Labyrinth | KU History <input type="checkbox" class="chkbox"></a></h3>
                        <a href="#" class="search-link">https://kuhistory.ku.edu/articles/library-became-labyrinth</a>
                        <p>
For over 90 years, Watson Library has been a prominent and imposing fixture, a true landmark on the campus of the University of Kansas.                        </p>
                    </div>
                    <div class="hr-line-dashed"></div>

                    <div class="search-result">
                        <h3><a href="#">KU Libraries (@kulibraries) / Twitter <input type="checkbox" class="chkbox"></a></h3>
                        <a href="#" class="search-link">https://twitter.com/kulibraries?lang=en</a>
                        <p>
KU Libraries are here to help you tackle finals. Have a question? Use our "Ask a Librarian" feature on our website to get the answers you need. ➡️ ..                        </p>
                    </div>
                    <div class="hr-line-dashed"></div>

                    <div class="search-result">
                        <h3><a href="#">KU Memorial Union - The University of Kansas <input type="checkbox" class="chkbox"></a></h3>
                        <a href="#" class="search-link">https://union.ku.edu/</a>

                        <p>
Student Union Activities (SUA) is one of KU's largest student organizations, planning over 200 events each year for the entire Jayhawk community.                        </p>
                    </div>
                    <div class="hr-line-dashed"></div>

                    <div class="text-center">
                        <div class="btn-group">
                            <button class="btn btn-white" type="button"><i class="glyphicon glyphicon-chevron-left"></i></button>
                            <button class="btn btn-white">1</button>
                            <button class="btn btn-white  active">2</button>


                            <button class="btn btn-white" type="button"><i class="glyphicon glyphicon-chevron-right"></i> </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




</body>
</html>
